CMakeCache.txt
CMakeFiles
Makefile
build
cmake_install.cmake
install_manifest.txt
example
linenoise_example
liblinenoise.a
*.dSYM
history.txt
*.o
*~

config.*
**/*.in
*/*.lo
*/*.la
aclocal.m4
autom4te.cache
compile
configure
depcomp
history
install-sh
libtool
ltmain.sh
m4/
missing
**/.deps/
**/.libs/
