# Files we don't need committed
*~
*.bak
*.user
linenoise_example
linenoise_utf8_example
*.a
build 
*.dSYM
history.txt
*.o
linenoise-ship.c
example
*.exe 
*.stackdump
core
gmon.out
*.so
.vs
*.filters
*.user
Debug
Release
x64
